.hover-container {
  width: fit-content;
  position: relative;
  touch-action: none;
}

#root {
  width: 100vw;
}

.main-container {
  max-width: 1280px;
  text-align: center;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: fit-content;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-anchor {
  cursor: help;
  translate: 0 0.125rem;
  padding: 0;
  background: none;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

.tooltip-hover-content,
.tooltip-popover-content {
  z-index: 2;
  width: max-content;
  background: black;
  max-width: 300px;
  text-align: start;
  border-radius: 0.25rem;
  pointer-events: none;
  padding: 0.125rem 0.5rem;
  color: white;
}

.tooltip-hover-content {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  translate: 0 -100%;
  border: none;
  font-size: 0.75rem;
  transition: opacity 150ms ease-in-out;
}

.tooltip-popover-content {
  pointer-events: none;
}

.tooltip-anchor:hover ~ .tooltip-hover-content {
  opacity: 1;
}

@media (max-width: 1280px) {
  .main-container {
    flex-direction: column-reverse;
  }
  .tooltip-hover-content {
    display: none;
  }
}

form {
  max-width: 100%;
  overflow: hidden;
}

fieldset {
  position: relative;
  border-radius: 0.25rem;
  border-color: #5b5b66;
}

legend {
  text-align: start;
}
