.hover-container {
  position: absolute;
  display: flex;
  inset: 0;
  place-items: center;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-width: 100vw;
  justify-content: center;
}

@media (max-width: 1028px) {
  .main-container {
    flex-direction: column-reverse;
  }
}
